[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
tinydb = "*"
pydantic = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pydata-sphinx-theme = "*"
sphinx-press-theme = "*"
sphinx-material = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
